%h1.text-center Movie List Dashboard

%br
= link_to 'Create Movie List', new_movie_list_path, class: "btn btn-success"
%br
%br
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Average Rating
      %th Number of Movies

  %tbody
    - @movie_lists.each do |movie_list|
      %tr
        %td= movie_list.name
        %td= movie_list.average_rating
        %td= movie_list.number_of_movies
      %tr
        %td= link_to 'Show', movie_list, class: "btn btn-primary"

%br
